.tabs {
	position: relative;
	min-height: 200px; /* This part sucks */
	clear: both;
	margin: 25px 0;
	width:  90%;
	height:  75%;
}
.tab {
	float: left;
}
.tab label {
	background: #eee;
  	padding: 10px;
 	border: 1px solid #ccc;
	margin-left: -1px;
	position: relative;
	left: 1px;
}
.tab [type=radio] {
	display: none;
}
.content {
	position: absolute;
	top: 28px;
	left: 0;
	background: white;
	right: 0;
	bottom: 0;
	padding: 20px;
	border: 1px solid #ccc;
}
[type=radio]:checked ~ label {
	background: white;
	border-bottom: 1px solid white;
	z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
	z-index: 1;
}
iframe 	{
	width:  90%;
	height:  95%;
}
form 	{
	z-index: 10000;
}
.loader 	{
	border:  16px solid #f3f3f3;
	border-radius:  50%;
	border-top:  16px solid #3498db;
	width:  120px;
	height:  120px;
	-webkit-animation:  spin 2s linear infinite;
	animation:  spin 2s linear infinite;
}
@-webkit-keyframes spin {
	0% { -webkit-transform:  rotate(0deg); }
	100% { -webkit-transform:  rotate(360deg); }
}
@keyframes spin {
	0% { transform:  rotate(0deg); }
	100% { transform: rotate(360deg); }
}